<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div>
            <a href="#" class="btn btn-primary" [routerLink]="['/posts','add']" routerLinkActive="router-link-active" >Add Post</a>
        </div>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tr *ngFor="let item of posts | async">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/posts','edit',item.id]" routerLinkActive="router-link-active" >Update</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>